[Unit]
Description=Run monitor_process every minute for process %I

[Timer]
OnCalendar=minutely
Persistent=true
Unit=monitor_process@%i.service

[Install]
WantedBy=timers.target
